body{
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    color: aliceblue;
}

h1 {
    color: azure;
}

