<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
</head>
<body background="{%static "media/bg.jpg" %}">
    <h1>Hello my name is {{ name }}</h1>
    <article>
        <img src="{%static "media/profil.jpg" %}", width="150">  
        <p>NPM : {{ npm }}
        <br>I am {{ age }} years old
        <br>Tempat kuliah : {{ univ }}
        <br>Hobi : {{ hobi }}
        <br>Deskripsi : {{ desc }}    
    </article>

    <h1>This is my friend, his name is {{ friend1 }}</h1>
    <article>
        <img src="{%static "media/f1.jpg" %}", width="150">  
        <p>NPM : {{ npm_f1 }}
        <br>I am {{ age_f1 }} years old
        <br>Tempat kuliah : {{ univ_f1 }}
        <br>Hobi : {{ hobi_f1 }}
        <br>Deskripsi : {{ desc_f1 }}       
    </article>

    <h1>And this also my friend, his name is {{ friend2 }}</h1>
    <article>
        <img src="{%static "media/f2.jpg" %}", width="150">
        <p>NPM : {{ npm_f2 }}
        <br>I am {{ age_f2 }} years old
        <br>Tempat kuliah : {{ univ_f2 }}
        <br>Hobi : {{ hobi_f2 }}
        <br>Deskripsi : {{ desc_f2 }}        
    </article>
    
</body>
</html>
